<section class="py-5">
<div class="mb-6 text-center">
  <span class="text-3xl font-bold">
    <h2>購入明細一覧</h2>
  </span>
</div>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="d-flex flex-column mb-3">
      <%= render @orders %>
    </div>
  </div>
</section>
